modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22908
externalPort = 3000

[userenv]

[userenv.shared]
MINI_APP_URL = "https://asset-manager--bumscoin.replit.app/bums-miniapp/"
VITE_DESTINATION_WALLET = "UQD38wyNsAjRiTq_eiKF5kg0mYmH4u49kYXMzkLLcAt4fSIU"
ADMIN_CHAT_ID_2 = "6239094540"
